@import '~@/assets/styles/variables.styl'
@import '~@/assets/styles/mixins.styl'
.el-table, .el-input__inner
  font-size 13px
.el-input__inner::-ms-input-placeholder
  placeholder()
.el-input__inner::-webkit-input-placeholder
  placeholder()
.el-input-group__append
  padding 0 10px
  font-size 12px
  background #fff
.el-form-item
  margin-bottom 20px
.el-form-item__content, .el-textarea__inner
  font-size 13px
.el-form-item__label
  font-weight bold
  text-align left
  color $hue
.el-input__inner, .el-input .is-disabled
.el-radio__label
  font-weight 400
.el-message-box
  padding-bottom 15px
.el-loading-spinner i, .el-loading-spinner .el-loading-text
  font-size 16px
  color #fff
.has-error .el-input__inner, .has-error .el-input-group__append
  border-color #a94442
.has-error .el-form-item__content
  line-height 20px
  margin-bottom -10px
.has-error .help-block
  display inline-block
  margin-top 2px
  color #a94442
  font-size 12px
.action-bar
  display flex
  align-items center
  .action-btn
    padding 9px 10px
  .action-search
    margin-left auto
    width 200px
.pagination
  text-align center
  margin 20px 0
  padding 5px 0
