.el-form-item
  margin-bottom 20px
.has-error .el-input__inner, .has-error .el-input-group__append
  border-color #a94442
.has-error .el-form-item__content
  line-height 20px
  margin-bottom -10px
.has-error .help-block
  display inline-block
  margin-top 2px
  color #a94442
  font-size 12px
