@import '~@/assets/styles/variables.styl'
.el-form-item
  margin-bottom 20px
.el-form-item__label
  font-weight bold
  text-align left
  color $hue
.el-input__inner, .el-input .is-disabled
.el-radio__label
  font-weight 400
.has-error .el-input__inner, .has-error .el-input-group__append
  border-color #a94442
.has-error .el-form-item__content
  line-height 20px
  margin-bottom -10px
.has-error .help-block
  display inline-block
  margin-top 2px
  color #a94442
  font-size 12px
.action-bar
  display flex
  align-items center
  .action-btn
    padding 9px 10px
  .action-search
    margin-left auto
    width 200px
.pagination
  text-align center
  margin 20px 0
  padding 5px 0
