html,body
  height 100%
  color #000
  background-color #fff
html,body,h1,h2,h3,h4,h5,h6,ul,ol,dl,dd,form,input,textarea,button,p,th,td
  margin 0
  padding 0
body,input,textarea,button,select,code
  font-family Monaco,Consolas,"WenQuanYi MicroHei","Microsoft YaHei",sans-serif
ul,ol,menu
  list-style none
a
  color #25a4bb
  text-decoration none
